extends layout 

block content 
  h1= title
  form.flex-col(action="", method="post") 
    label.flex-col Name
      input#name(type="text", name='name', value=(undefined===category ? '' : category.name), required)
    label.flex-col Description 
      textarea#description(name="description", required)= (undefined===category ? '' : category.description)
    button(type="submit") Submit

  if errors
   ul
    for error in errors
     li!= error.msg