extends layout

block content
  h1= title
  ul.flex.stats
    each stat in stats 
      li #{stat.name}: #[strong #{stat.number}]
  if categories 
    ul.flex-col.categories
      each val in categories
        li 
          a(href=val.url)= val.name