extends layout

block content
  h1= title
  if categories 
    ul 
      each val in categories
        li 
          a(href=val.url)= val.name
  ul
    each stat in stats 
      li= `${stat.name}: ${stat.number}`