doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul.flex
          li
            a(href="/") Home 
          li 
            a(href="/category/create") Create category
          li 
            a(href="/product/create") Create item
    block content
