doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.wrapper.flex
      nav.sidebar
        ul.flex-col
          li
            a(href="/") Home 
          li 
            a(href="/category/create") Create category
          li 
            a(href="/product/create") Create item
      main
        block content
