:root {
  --theme-color: rgb(100, 0, 255);
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--theme-color);
  --body-space: 100px;
  padding: 50px var(--body-space) var(--body-space) var(--body-space);
}

.wrapper {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  gap: 50px;
}

main {
  flex: 1;
}

h1 {
  margin-bottom: 25px;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

a:hover,
button:hover {
  opacity: 0.6;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

label:focus-within {
  color: var(--theme-color);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0.2rem var(--theme-color);
}

textarea {
  resize: vertical;
}

form {
  --form-radius: 5px;
  gap: 20px;
}

/* Remove default select styling */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
}

select option {
  background-color: white;
  color: black;
  font-size: 16px;
}

label input,
label textarea,
label select {
  margin-top: 5px;
}

input,
select,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: var(--form-radius);
  padding: 5px;
}

button {
  color: white;
  border: none;
  border-radius: var(--form-radius);
  background-color: var(--theme-color);
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.btn-delete {
  background-color: red;
}

.sidebar > ul {
  gap: 10px;
}

.sidebar li {
  padding: 10px 0;
  font-size: clamp(0.9rem, 3vw, 1.5rem);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.stats {
  margin-bottom: 50px;
}

.categories {
  font-size: 1.5rem;
  font-weight: 700;
}

.stats,
.categories,
.items {
  gap: 10px;
}

.category-detail-stats li:nth-last-child(2) {
  margin-right: 0;
  margin-left: auto;
}

.items li {
  padding: 10px;
}

.item-link {
  font-weight: 700;
  font-size: 1.2rem;
}

hr {
  margin: 20px 0;
}

.del-form {
  gap: 20px;
}

.del-form P:first-child {
  margin-top: 20px;
}

.del-form input {
  padding: 10px;
}

@media (max-width: 1100px) {
  body {
    padding: 25px;
  }

  .sidebar ul {
    flex-direction: row;
  }

  .sidebar li {
    padding: 0;
  }

  .sidebar {
    margin-bottom: 20px;
  }

  .wrapper {
    flex-direction: column;
    padding: 35px;
    gap: 0;
  }
}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }

  .wrapper {
    padding: 20px;
    border-radius: 10px;
  }

  .flex {
    flex-direction: column;
  }
  .category-detail-stats li:nth-last-child(2) {
    margin-right: initial;
    margin-left: initial;
  }
}
