* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea {
  resize: vertical;
}

input,
select,
textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.flex {
  display: flex;
}
